{
	email {$ACME_EMAIL}
	default_sni {$VPS_PUBLIC_IP}
}

(security_headers) {
	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}

http://{$VPS_PUBLIC_IP} {
	encode zstd gzip

	handle /.well-known/acme-challenge/* {
		root * /srv/certbot-webroot
		file_server
	}

	redir https://{$VPS_PUBLIC_IP}{uri} 308
}

https://{$VPS_PUBLIC_IP} {
	encode zstd gzip
	tls /etc/letsencrypt/live/{$VPS_PUBLIC_IP}/fullchain.pem /etc/letsencrypt/live/{$VPS_PUBLIC_IP}/privkey.pem

	import security_headers

	reverse_proxy web:3000
}
