node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
coverage
tmp
.logs
data
.env
.env.vps
.env.local
.env.*.local
.git
.vercel
playwright-report
test-results
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
